<!DOCTYPE html>
<html lang="pt">

    <head>
        <title><%= article[0].titulo %></title>
        <link rel="icon" type="image/x-icon" href="/icon/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/articles.css">
        <meta charset='utf-8'>
    </head>

    <body>
        <div class="header">
            <h3>Scuderia Ferrari database</h3>
        </div>

        <div class="links">
            <a href="/">Home</a>
            <a href="/drivers">Drivers lineup</a>
        </div>
        
        <div class="main">
            <div class="article-body">
                <h1><%= article[0].titulo %></h1>
                <p><%= article[0].texto %></p>
                
                <h3>Related news</h3>
                <div class="proximas" style="display: flex;flex-direction: column;">
                    <% for(let i = 0;i < recentArticles.length;i++){ %>
                        <a href="/article?id=<%= recentArticles[i].id %>"><%= recentArticles[i].titulo %></a>
                    <% } %>
                </div>
            </div>
        </div>
        
    </body>

</html>